.banner-background {
  height: 220px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: $colorGradient;
  .banner {
    display: flex;
    align-items: center;
    height: 216px;
    background-color: $colorBackgroundSecond;
    .banner-title {
      font-size: 3em;
      margin: 0px 8%;
    }
  }
}

@media screen and (max-width: 720px) {
  .banner {
    justify-content: center;
    height: 110px;
    .banner-title {
      font-size: 2rem;
    }
  }
}
