.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: $colorBackgroundSecond;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  .banner-title {
    font-size: 3em;
    margin: 0px 8%;
  }
}

@media screen and (max-width: 720px) {
  .banner {
    justify-content: center;
    height: 110px;
    .banner-title {
      font-size: 2rem;
    }
  }
}
