.card {
  width: 950px;
  height: 290px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 30px auto;
  &__icons {
    display: flex;
    justify-content: center;
    img {
      width: 25px;
      height: 25px;
      margin: 5px;
    }
  }
  &__info {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $white;
    background-color: $colorBackground;
    .card__name {
      color: $white;
      font-size: 25px;
      font-weight: bold;
      line-height: 30px;
      width: 160px;
      text-align: center;
      margin: 20px 0px 0px 0px;
      cursor: default;
    }
    .card__description {
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      text-align: center;
      width: 90%;
      cursor: default;
    }
    .svg-inline--fa {
      margin: 10px 10px;
      height: 30px;
    }
    .lien-button {
      color: $white;
    }
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 80%;
    max-width: 400px;
    margin: 25px auto 25px auto;
    &__info {
      display: none;
      height: 100%;
      margin: 0px;
      .card__name {
        font-size: 20px;
        line-height: 25px;
        width: 160px;
        text-align: center;
        margin: 10px;
      }
      .card__description {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        width: 90%;
        cursor: default;
      }
      .svg-inline--fa {
        margin: 8px 10px;
        height: 30px;
      }
      .lien-button {
        color: $white;
      }
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
      .card__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: rgba($color: $colorBackground, $alpha: 0.8);
        animation: info 0.5s ease-in-out forwards;
      }
    }
  }
}
