@keyframes info {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 50px;
    &__img{
        width: 100%;
        height: 270px;
        border-radius: 25px;
    }
    &__info{
        display: none;
        height: 100%;
        margin: 0px;
        .card__name{
            font-size: 25px;
            line-height: 30px;
            width: 160px;
            text-align: center;
            margin: 20px;
        }
        .card__description{
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            width: 90%;
            cursor: default;
        }
        .svg-inline--fa{
            margin: 0px 10px;
            height: 30px;
        }
        .lien-button{
            color: $white;
        }
    }
    &:hover{ 
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
        .card__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            background: rgba($color: $colorBackground, $alpha: 0.8);    
            animation: info 0.5s ease-in-out forwards;
        }
    }
}