.portfolio-page {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  .portfolio-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .portfolio-list {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
