@import "./settings";
@import "./Layouts/header";
@import "./Components/navigation";
@import "./Layouts/footer";
@import "./Pages/accueil";
@import "./Pages/competences";
@import "./Components/progressBar";
@import "./Pages/portfolio";
@import "./Components/card";
@import "./Pages/contact";
@import "./Components/button";